.simple-slider .swiper-slide {
  height: 330px;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 576px) {
  .simple-slider .swiper-slide {
    height: 230px;
  }
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.swiper-container {
  border-radius: 15px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

